/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
background-color: #D1FAE8;
  display: flex;
  justify-content: center;

}

h1 {
  
color: black;
font-family: 'Abril Fatface', cursive;

}

