body{
  background-color: #A9E5F1
}

table {
  background-color:white;
  border: 2px solid black;
}

#Mitali {
  -webkit-transform:rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

#Nicole {
  padding-left:50px;
  padding-right:50px;
}

#Sai1 {
  padding-left:30px;
}
