body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
  background-image: linear-gradient(to right, #248376 , #9FF8eb , #9FF8EB); 
}

h1 { 
  color: black;  
  font-family: 'Abril Fatface', cursive;
  font-size: 70px;
  display: flex;
 text-shadow: 6px 6px 2px white;
  text-decoration-line: overline underline;
  text-decoration-style: wavy;
    font-style: oblique;

}

button {
  font-size: 40px;
  font-family: arial;
}

h2 h3{
  border: 10px solid black;
  display: flex;
  text-align: center;
  
}


